#book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    top: -20px;
}

#book p {
    color: gray;
    font-size: 30px;
}
#bookComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}
.bookImg {
    object-fit: fill;
    padding: 0;
    cursor: grab;
}
#comands {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.flip {
    cursor: pointer;
    transition: 500ms;
}
.flip:hover {
    color: rgb(48, 59, 149);
    letter-spacing: 1px;
}
