#book {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    top: -20px;
}

#book p {
    color: gray;
    font-size: 30px;
}

.arrow {
    width: 20px;
    margin: 25px;
    opacity: 0.5;
    cursor: pointer;
}

.bookImg {
    width: 150px;
    cursor: grab;
}
#comands {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.flip {
    cursor: pointer;
    transition: 500ms;
}
.flip:hover {
    color: rgb(48, 59, 149);
    letter-spacing: 1px;
}
