#exhibitions {
    width: 75%;
    margin-top: 100px;
    padding: 20px;
    border-left: 1px dotted gray;
}

.line {
    border-bottom: 1px dotted rgb(129, 129, 129);
}
.exhibitionImg {
    height: 150px;
    margin-right: 5px;
}

.portfolio_button a {
    display: flex;
    align-items: center;
}

.pdf_icon {
    width: 30px;
    margin-right: 5px;
    /* margin-top: 20px; */
}
