#navBar {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0;
    z-index: 1;
}
#title {
    top: -10px;
    left: -10px;
    padding: 5px;
    border: 1px dotted rgb(180, 180, 180);
    margin: 10px;
    font-size: 15px;
    /* color: rgb(130, 130, 130); */
    color: black;
}

#menuLinks a {
    margin-right: 10px;
}

.otherPageLayout {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    #menuLinks {
        display: none;
    }
    #menuIcon {
        width: 20px;
        height: 15px;
        border-top: 1px dotted rgb(112, 112, 112);
        border-bottom: 1px dotted rgb(112, 112, 112);
        margin: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 500ms;
    }

    .openMenu {
        transform: rotate(90deg);
    }
    #backgroundoverlay {
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
    }

    #dropdown {
        position: absolute;
        padding: 7px;
        text-align: right;
        border: 1px dotted gray;
        right: 0px;
        top: 45px;

        max-height: 0px;
        overflow: hidden;
    }
    .openDropdown {
        max-height: 130px !important;
        transition: 500ms;
    }

    .closeDropdown {
        padding: 0px !important;
        border: none !important;
        transition: 0ms;
    }
    #menuIcon div {
        width: 30px;
        height: 1px;
        border-bottom: 1px dotted rgb(112, 112, 112);
    }
}
