#navBar {
    /* position: fixed; */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin: 0;
    z-index: 1;
}
#title {
    top: -10px;
    left: -10px;
    padding: 5px;
    border: 1px dotted rgb(180, 180, 180);
    margin: 10px;
    font-size: 15px;
    color: rgb(130, 130, 130);
}

.menuLinks {
    display: flex;
    justify-content: center;
}
.menuLinks a {
    margin-right: 10px;
}
