#navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}

#head {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px dotted rgb(180, 180, 180);
    margin: 0;
}
#title {
    top: -10px;
    left: -10px;
    padding: 5px;
    border: 1px dotted rgb(180, 180, 180);
    margin: 10px;
}

.menuLinks {
    display: flex;
    justify-content: center;
}
.menuLinks a {
    margin-right: 10px;
}
