#paintings {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
}
#paintings div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#paintings div img {
    width: 60%;
}
/* #paintings {
    line-height: 10px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 15px;
} */
