.paintingImage img {
    margin: 50px;
    /* transform: scale(0.7); */
}

#paintings {
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
}
