#paintingsMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    left: 50%;
    z-index: 1;
    transition: 400ms;
    overflow: hidden;
}
.visible {
    height: 120px;
    border: 1px dotted gray;
    opacity: 100%;
}

.invisible {
    height: 0;
    border: 1px dotted rgba(128, 128, 128, 0);
    opacity: 0%;
}
#paintingsMenu p:hover {
    background-color: rgb(127, 147, 154);
    color: white;
}
.newPictures {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.newPictures div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.newPictures div img {
    width: 60%;
    transform: scale(0.9);
}

.painting-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.painting-item img {
    height: 20%;
}

.elementsOfBuilding {
    width: 100vw;
}
/* MASONRY */
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    padding: 10px;
    max-width: 100vw;
}
.my-masonry-grid_column {
    margin: 5px; /* gutter size */
}

/* Style your items */
.my-masonry-grid_column img {
    margin-bottom: 20px;
    max-width: 80%;
    object-fit: scale-down;
    transform: scale(0.9);
}

@media (max-width: 800px) {
    .my-masonry-grid {
        margin-left: -15px; /* gutter size offset */
    }
    .my-masonry-grid_column {
        padding-left: 15px; /* gutter size offset */
    }
    .my-masonry-grid_column img {
        margin-bottom: 15px; /* space between items */
    }
}
/* .line {
    border-bottom: 1px dotted rgb(255, 255, 255);
    padding-bottom: 10px;
    min-width: 70%;
} */
.paintings_collection_menu {
    display: flex;
}
.paintings_collection_menu p {
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}
.paintings_collection_menu p:hover {
    border-bottom: 1px dotted rgb(147, 147, 147);
}
