@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap");

* {
    box-sizing: border-box;
    background-color: whitesmoke;
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Raleway";
}

body {
    margin: 0px;
    padding: 0;
}
#body {
    padding-left: 130px;
}

a {
    text-decoration: none;
    color: black;
}

a p {
    transition: 500ms;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
a p:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

#page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.selected {
    background-color: black;
    color: rgb(255, 255, 255);
}
