#modalBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.496);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#viewModal {
    position: fixed;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
}
#viewModal img {
    object-fit: scale-down;
    max-width: 90%;
    max-height: 90%;
}
